a.spoiler::after {
    content: " [-]";
}

a.spoiler.collapsed::after {
    content: " [+]";
}

.progress-bar {
    min-width: 2%;
    width: 10%;
}

.progress-bar-striped {
    width: 50%;
}